<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/meta.ejs") %>
  <%- include("./_share/stylesheets.ejs") %>
  <title>Database Connection Test</title>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <%- include("./_share/sidemenu.ejs") %>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Home</h1>
          <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">PostgreSQL</h5>
                <p class="card-text">PostgreSQL connection test.</p>
                <a href="/postgresql" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
  </div>

  <%- include("./_share/scripts.ejs") %>

  <script src="/public/scripts/index.js" crossorigin="anonymous"></script>
</body>

</html>