<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Database Connection Test</title>
</head>
<body>
  <div class="container">
    <div class="row mt-3 mb-5">
      <h1>Database Connection Test</h1>
    </div>

    <form class="row g-3">
      <!-- <div class="mb-3 row">
        <label for="connectionString" class="col-sm-2 col-form-label">connectionString</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="connectionString" name="connectionString">
        </div>
      </div> -->
      <div class="mb-3 row">
        <label for="user" class="col-sm-2 col-form-label">user</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="user" name="user">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="host" class="col-sm-2 col-form-label">host</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="host" name="host">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="database" class="col-sm-2 col-form-label">database</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="database" name="database">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="password" name="password">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="port" class="col-sm-2 col-form-label">port</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="port" name="port">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-10">
          <input type="button" value="send" class="btn btn-primary" id="btnSend" />
        </div>
      </div>
    </form>

    <pre id="result"></pre>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.js" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script> -->
  <script src="/public/scripts/index.js" crossorigin="anonymous"></script>
</body>
</html>